body {
    color: #212121;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* header */

.logo {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
}

.logo-blue {
    color: #2196F3;
    
}
.logo-black {
    color: #000000;
}
.header-link a {
    color: #212121;
    list-style: none;
    text-decoration: none;
}
.header-link, .link.current {
    color: #2196F3;
}
.header-address a {
    color: #757575;
    list-style: none;
    text-decoration: none;
}
.header-link, .header-address {
    list-style: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.header-link .link:hover, .header-link .link:focus {
    color: #2196F3;
}
.header-address .link:hover,.header-address .link:focus {
    color: #2196F3;
}

/* main page banner */
.banner {
    letter-spacing: 0.06em;
}
.banner-text {
    color: #FFFFFF;
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
.banner-button {
    color: #FFFFFF;
    background-color: #2196F3;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
}
.info-list {
    list-style: none;
}
.info-text {
    color: #757575;
}

/* what we do */

.work-list {
    list-style: none;
}

/* our team */

.team-list {
    list-style: none;
}
.team-position {
    color: #757575;
}


/* footer */

.footer-address {
    list-style: none;
    text-decoration: none;
}

.footer-address .link:hover, .footer-address .link:focus {
    color: #2196F3;
}
.footer-address a {
    text-decoration: none;
}




/* portfolio main */
.portfolio-nav {
    list-style: none;
}
.portfolio-button {
    background-color: #F5F4FA;
    cursor: pointer;
}
.portfolio-button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* Our projects */

.our-project {
    list-style: none;
}
.product {
    color: #757575;
}
.our-project h2 {
    letter-spacing: 0.06em;
}

/* color */
/* logo black 000000 
main black 212121
accent blue 2196F3 
grey 757575
main white FFFFFF
Color mail&tel in footer rgba(255, 255, 255, 0.6)*/